.detail{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    background: radial-gradient(
      circle at center,
      rgb(255, 255, 255), 
      rgb(223, 223, 223) 
    );
}

.btn{
    border-radius: 10px;
    background-color: #3d2399;
    border-radius: 10px;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin: 5px;
} 

h1{
    font-size: 46px;
    margin-bottom: 20px;
    color: rgb(14, 17, 68);
    text-align: center;
}

.detail-cont {
    display: flex; 
    align-items: center; 
    justify-content: center;
  }
  
.img-detail {
    flex: 1; 
    padding: 10px; 
  }
  
.info-detail {
    flex: 3; 
    padding: 10px;
    margin-right: 20% ; 
  }

h6 {
    padding-right: 20px;
    text-align: justify;
}