.home {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    margin: 0;
    padding: 0px;
    height: 100vh;
    width: 100%;
    background-attachment: radial-gradient(
      circle at center,
      rgb(255, 255, 255), 
      rgb(223, 223, 223) 
    );
    
  }
  
  .home h1 {
    font-size: 46px;
    margin-bottom: 20px;
    color: rgb(14, 17, 68);
    text-align: center;
  }
  
  